body {
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
}

#maincontent {
  max-width: 38em;
  margin: 70px auto 25px;
  padding: 0 25px;
}

h2 {
  margin-bottom: 0;
}

ul {
  margin-top: 0;
}

.meta {
  color: #666;
}
